<div class="hero-content">
  <div class="container">
      <div class="row">
          <div class="col-12 offset-lg-2 col-lg-10">
              <div class="entry-header">
                  <h2>Evenzie</h2>

                  
              </div><!-- .entry-header -->

             <div class="countdown flex flex-wrap justify-content-between" data-date="2018/06/06">
                 <!-- .countdown-holder -->
              </div><!-- .countdown -->
          </div><!-- .col-12 -->
      </div><!-- row -->

      <div class="row">
          <div class="col-12 ">
              <div class="entry-footer">
                  <a routerLink='browseevents' class="btn">Browse Events</a>
                  <a  routerLink='/create-event' class="btn current">Create Event</a>
              </div>
          </div>
      </div>
  </div><!-- .container -->
</div><!-- .hero-content -->
<div class="content-section">
     <div class="container">
            
            <div class="row">
                <div class="col-12">
                    <div class="lineup-artists-headline">
        <app-popular-events></app-popular-events>
                    </div><!-- lineup-artists-headline -->
                </div><!-- col-12 -->
            </div><!-- row -->

           
        <div class="row">
            <div class="col-12">
                <div class="the-complete-lineup">
             <app-category></app-category>     
                 </div><!-- the-complete-lineup -->
             </div><!-- col-12 -->    
        </div><!-- row -->
     </div><!-- container -->

        
        <div class="homepage-next-events">
                <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="entry-title">
                                    <p>JUST THE BEST</p>
                                    <h2>Our Next Events</h2>
                                </div><!-- entry-title -->
                            </div><!-- col-12 -->
                        </div><!-- row -->
                    </div><!-- container -->
        
                    
                    <div class="next-event-slider-wrap">
             <app-gallery></app-gallery>
                   </div>
       </div>

    <div><app-footer></app-footer> </div>
