
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  
  <body class="tickets-page">
   <div><app-header></app-header> </div>
    
   <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="entry-header">
                        <h2 class="entry-title">Events</h2>
                   </div><!-- entry-header -->
                </div><!-- col-12 -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- page-header -->
  
    <div class="main-content">
        <div class="container">
            <div class="entry-header">
                <div class="entry-title">
                    <p>JUST THE BEST</p>
                    <h2>Early bird tickets</h2>
                </div><!-- entry-title -->
            </div><!-- entry-header -->
  
           
            
            <div class="col-12">
                <div class="row">
             <app-event-list></app-event-list>
           </div> <!-- .col-12 -->
        </div><!--- .row -->
  
          </div><!-- container -->
    </div><!-- main-content -->
  
    <div><app-footer></app-footer> </div>
  
    
  </body>
  
  