
      <div class="entry-title">
          <p>JUST THE BEST</p>
          <h2>The Complete Lineup</h2>
      </div><!-- entry-title -->

      <div class="row the-complete-lineup-artists">
          <div class="col-6 col-md-4 col-lg-3 artist-single">
              <figure class="featured-image">
                  <a routerLink='../browseevents' (click)="geteventlist(1)"> <img src="assets/images/21.jpg" alt=""> </a>
                  <!-- <a routerLink='browseevents' class="box-link"> <img src="assets/images/box.jpg" alt=""> </a> -->
              </figure><!-- featured-image -->

              <h2>Fest</h2>
          </div><!-- artist-single -->

          <div class="col-6 col-md-4 col-lg-3 artist-single">
              <figure class="featured-image">
                  <a routerLink='../browseevents' (click)="geteventlist(2)"> <img src="assets/images/17.jpg" alt=""> </a>
                  <!-- <a routerLink='../browseevents' class="box-link"> <img src="assets/images/box.jpg" alt=""> </a> -->
              </figure><!-- featured-image -->

              <h2>Seminar</h2>
          </div><!-- artist-single -->

          <div class="col-6 col-md-4 col-lg-3 artist-single">
              <figure class="featured-image">
                  <a routerLink='../browseevents' (click)="geteventlist(3)"> <img src="assets/images/23.jpg" alt=""> </a>
                  <!-- <a routerLink='../browseevents' class="box-link"> <img src="assets/images/box.jpg" alt=""> </a> -->
              </figure><!-- featured-image -->

              <h2>Cultural</h2>
          </div><!-- artist-single -->

          <div class="col-6 col-md-4 col-lg-3 artist-single">
              <figure class="featured-image">
                  <a routerLink='../browseevents' (click)="geteventlist(4)"> <img src="assets/images/19.jpg" alt=""> </a>
                  <!-- <a routerLink='../browseevents' class="box-link"> <img src="assets/images/box.jpg" alt=""> </a> -->
              </figure><!-- featured-image -->

              <h2>Workshop</h2>
          </div><!-- artist-single -->

          <div class="col-6 col-md-4 col-lg-3 artist-single">
              <figure class="featured-image">
                  <a routerLink='../browseevents' (click)="geteventlist(5)"> <img src="assets/images/13.jpg" alt=""> </a>
                  <!-- <a routerLink='../browseevents' class="box-link"> <img src="assets/images/box.jpg" alt=""> </a> -->
              </figure><!-- featured-image -->

              <h2>Concert</h2>
          </div><!-- artist-single -->

          <div class="col-6 col-md-4 col-lg-3 artist-single">
              <figure class="featured-image">
                  <a routerLink='../browseevents' (click)="geteventlist(6)"> <img src="assets/images/8.JPG" alt=""> </a>
                  <!-- <a routerLink='../browseevents' class="box-link"> <img src="assets/images/box.jpg" alt=""> </a> -->
              </figure><!-- featured-image -->

              <h2>EDM Nights</h2>
          </div><!-- artist-single -->

          <div class="col-6 col-md-4 col-lg-3 artist-single">
              <figure class="featured-image">
                  <a routerLink='../browseevents' (click)="geteventlist(7)"> <img src="assets/images/11.jpg" alt=""> </a>
                  <!-- <a routerLink='../browseevents' class="box-link"> <img src="assets/images/box.jpg" alt=""> </a> -->
              </figure><!-- featured-image -->

              <h2>Conference</h2>
          </div><!-- artist-single -->

          <div class="col-6 col-md-4 col-lg-3 artist-single">
              <figure class="featured-image">
                  <a routerLink='../browseevents' (click)="geteventlist(8)"> <img src="assets/images/5.jpg" alt=""> </a>
                  <!-- <a routerLink='../browseevents' class="box-link"> <img src="assets/images/box.jpg" alt=""> </a> -->
              </figure><!-- featured-image -->

              <h2>Departmental Events</h2>
          </div><!-- artist-single -->
      </div><!-- the-complete-lineup-artists -->

      <div class="row justify-content-center">
          <div class="see-complete-lineup">
              <div class="entry-footer">
                  <a routerLink='../browseevents' class="btn">See all lineup</a>
              </div>
          </div>
      </div>
  