.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .title-center {
    flex: 1 1 auto;
    cursor: pointer;
  }
  .btn{
    float: right;
    

  }
  .btn a{
    color:white;
    text-decoration: none;
  }
  .container{

   height: 200px;
   padding: 150px;
   float: right;
  }