<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <img style="height: 800px; width:1300px ;" src="assets/images/2.jpg" alt="Random first slide">
      <div class="carousel-caption">
        <h3>RAITEA - 2K19 ...</h3>
        <p>Pricipal greeting guests</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img style="height: 800px; width:1300px ;" src="assets/images/next-event-2.jpg" alt="Random second slide">
      <div class="carousel-caption">
        <h3>EDM Nights...</h3>
        <p>The fun and memorable moments in DJ Nights</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img style="height: 800px; width:1300px ;" src="assets/images/next-event-3.jpg"  alt="Random third slide">
      <div class="carousel-caption">
        <h3>Events</h3>
        <p>The immense feeling of being rejoiced.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img style="height: 800px; width:1300px ;" src="assets/images/2.jpg" alt="Random fourth slide">
      <div class="carousel-caption">
        <h3>And no wrap after last slide.</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
  </ngb-carousel>