
      <div class="entry-title">
          <p>JUST THE BEST</p>
          <h2>The Lineup Artists-Headliners</h2>
      </div><!-- entry-title -->

      <div class="lineup-artists">
          <div class="lineup-artists-wrap flex flex-wrap">
              <figure class="featured-image">
                  <a routerLink='../ticket' (click)=geteventdetails()> <img src="assets/images/4.jpg" alt=""> </a>
              </figure><!-- featured-image -->

              <div class="lineup-artists-description ">
                  <div class="lineup-artists-description-container" style="width: auto">
                      <div class="entry-title">
                        Swaranjali 
                      </div><!-- entry-title -->

                      <div class="entry-content">
                          <p>Swaranjali 2019
                            Institute of Engineering & Science, IPS Academy, Indore </p>
                      </div><!-- entry-content -->

                      <div class="box-link">
                          <a routerLink='../ticket'><img src="assets/images/box.jpg" alt=""></a>
                      </div><!-- box-link -->
                  </div><!-- lineup-artists-description-container -->
              </div><!-- lineup-artists-description -->
          </div><!-- lineup-artists-wrap -->
          <br>
          <br>
          <br>

          <div  class="lineup-artists-wrap flex flex-wrap" style="width:auto">
              <div class="lineup-artists-description ">
                  <figure class="featured-image d-md-none" >
                      <a routerLink='../ticket'> <img src="assets/images/4.jpg" alt=""> </a>
                  </figure><!-- featured-image -->

                  <div class="lineup-artists-description-container " >
                      <div class="entry-title">
                         AAkshaank
                      </div><!-- entry-title -->

                      <div class="entry-content">
                          <p>"Aakshank" , central India's mega and fantabulous event </p>
                      </div><!-- entry-content -->

                      <div class="box-link">
                          <a routerLink='../ticket'><img src="assets/images/box.jpg" alt=""></a>
                      </div><!-- box-link -->
                  </div><!-- lineup-artists-description-container -->
              </div><!-- lineup-artists-description -->

            <figure class="featured-image d-none d-md-block" >
                  <a routerLink='../ticket'> <img  src="assets/images/26.jpg" alt=""> </a>
              </figure><!-- featured-image -->
          </div><!-- lineup-artists-wrap -->
          <br>
          <br>
          <br>

          <div class="lineup-artists-wrap flex flex-wrap">
              <figure class="featured-image">
                  <a routerLink='../ticket'> <img src="assets/images/27.jpg" alt=""> </a>
              </figure><!-- featured-image -->

              <div class="lineup-artists-description">
                  <div class="lineup-artists-description-container" style="width: auto">
                      <div class="entry-title">
                         Maffick
                      </div><!-- entry-title -->

                      <div class="entry-content">
                          <p>Maffick 2019, Maulana Azad National Institute of Bhopal, Cultural Fest, Bhopal,...</p>
                      </div><!-- entry-content -->

                      <div class="box-link">
                          <a routerLink='../ticket'> <img src="assets/images/box.jpg" alt=""></a>
                      </div><!-- box-link -->
                  </div><!-- lineup-artists-description-container -->
              </div><!-- lineup-artists-description -->
          </div><!-- lineup-artists-wrap -->
      </div><!-- lineup-artists -->
  